body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 40px;
}
h3{
    font-size:30px;
}
h1 span{
    color: rgb(255, 81, 0);
    font-weight: bold;
    font-size: 45px;
}
section{
    margin-bottom: 50px;
}
.top-banner {
    display: flex;
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.text{
    height:99%;
    margin: auto 0;
}
.banner-text{
    font-size:25px;
    padding: 10px 5px;
}
.top-btn{
    font-size:23px;
    font-weight:bold;
    color: #fff;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    background-image: linear-gradient(to right, tomato, orange);
    box-shadow: 0px 0px 25px 2px rgba(248, 70, 0, 0.63);
    margin-bottom: 40px;
}
.top-banner img{
    width:70%
}
.about{
    display:flex;
    background-image: url("images/shapes/Frame\ 57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.about img{
    width: 60%;
}
.about h1{
    letter-spacing: 5px;
    color: gray;
}
.about-btn a{
    color: #fff;
}
.about-btn{
    font-size:23px;
    font-weight:bold;
    color: #fff;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    background-image: linear-gradient(to left, rgb(74, 71, 255), rgb(255, 8, 0));
    box-shadow: 0px 0px 25px 2px rgba(12, 8, 255, 0.774);
}
.recipies{
    margin-bottom: 50px;
}
.recipies h1{
    letter-spacing: 5px;
    color: gray;
}
.recipies p{
    font-size:25px;
    font-weight:700;
}
.text-center{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
.items{
    display: flex;
    margin-bottom: 100px;
}
.itm-left{
    margin-left:5%;
    margin-right:2%;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, yellow, rgb(0, 255, 42));
    border-image-slice: 1;

}
.itm-center{
    margin-left:2%;
    margin-right:2%;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, rgb(255, 0, 0), #fffb09);
    border-image-slice: 1;
}
.itm-right{
    margin-left:2%;
    margin-right:5%;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, yellow, rgb(47, 0, 255));
    border-image-slice: 1;
}
.itm{
    margin-top:5%;
    box-shadow: 0px -2px 20px -4px rgb(66, 64, 64);
}
.itm  p{
    font-size:20px;
    font-weight:200;
    padding: 4px 20px;
}
.itm img{
    width:100%
}
.stat{
    display: flex;
    width:90%;
    margin: 0 auto;
    box-shadow: 0px 0px 15px -5px rgb(66, 64, 64);
    border-radius: 10px;
    margin-bottom: 100px;
}
.staton{
    margin: 50px auto;
}
.static{
    text-align: center;
    width:30%;
}
.static h1{
    margin:5px;
    padding:2px;
    font-family:cursive;
}
.static p{
    margin-top: -5px;
    font-size:20px;
}
footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    color: rgba(255, 255, 255, 0.445);
    background-color:black;
    
}
footer h3{
   word-spacing: 10px;
}
footer span{
    color:sandybrown;
}
footer h3 b{
    color:orange;
    letter-spacing: 2px;
}
footer h3 a{
    color: tomato;
    letter-spacing:5px;
    font-family:Georgia, 'Times New Roman', Times, serif'
}
.reviews{
    margin: 20px 10%;
    margin-bottom: 100px;
}
.reviews h1{
    letter-spacing: 5px;
    color: gray;
    margin-bottom:50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.review{
   margin: 10px 20px;
   background-color: rgb(252, 149, 109);
   border-radius: 30px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}
.review p{
    padding: 20px 10px;
}
.client{
    margin: 10px 20px;
    border-radius: 30px;
}
.client img{
    width:200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);

}